{% load static %}
<!DOCTYPE html>
<html lang = 'en'>
    <head>
      <link rel="stylesheet" href="{% static 'detail.css' %}">
    </head>
    <body>
          <div class = "container">
              <br>
              <h1 class = "name">POST</h1>
              <br><br>
              <h1 class = "title">{{details.title}}</h1>
              <br>
              <p class = "what">{{details.body|linebreaksbr}}</p>
              <br>
              <p class = "date">{{details.pub_date}}</p>
          </div>
    </body>
</html>