{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'mainhome.css' %}">
    </head>
    <body>
        <div class = "title">
            <h1>BLOG</h1> 
        
            <div class = "cate">
                <a href = "aboutme" class = "card-link">ABOUT_ME</a>
            </div>
            <br>
            <div class = "cate">
                <a href = "blog" class = "card-link">POST</a>
            </div>
        </div>    
        <div class = "flower">
                <img class = "tu" src = "{% static 'flower.jpg' %}">
        </div>
    </body>
</html>