header {
    background-color: #3F5FA5;
    color: white;
    padding: 50px;
    border-bottom: 1px solid #3D3D3D;
    margin-bottom: 20px;

}
body {
    padding:100px;
}
.title{
    font-size: 25px;
    padding-left:50px;
}


.card{
    overflow: hidden;
    padding-left: 50px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;

}

.card-text {
    font-size: 40px;
}
.card-title {

    font-size: 40px;
}

.info {
    display: inline-block;
    float: right;
    font-size: 40px;
    color: #707070;
    margin-top: 10px;
}
